<!DOCTYPE html>
<html>
  <head>
    <title>Ghislain - Web developer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'zguy.png' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:200|Oswald|Roboto|Roboto+Condensed|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <meta property="og:title" content="Ghislain - Web Developer">
    <meta property="og:image" content="zguy.png">
    <meta property="og:description" content="Développeur Freelance, je suis à votre disposition pour développer votre site web !">
    <meta property="og:site_name" content="Ghislain"/>
  </head>

  <body style="font-family: 'Droid Sans', sans-serif;">
    <%= yield %>
  </body>
</html>
