<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'zguy.png' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:200|Oswald|Roboto|Roboto+Condensed|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <title><%= @title %></title>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= @title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= @title %>" />
    <meta property="og:site_name" content="<%= @title %>" />

  </head>

  <body style="font-family: 'Droid Sans', sans-serif;">
    <%= yield %>
  </body>
</html>
